.options-panel {
  position: fixed;
  bottom: 1vh;
  right: 1vh;
  border: 2px solid black;
  border-radius: 10px;
  width: 400px;
  height: 300px;
  z-index: 9999;
  box-shadow: 2px 2px 4px black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-width-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.line-width-title {
  text-decoration: underline;
  font-size: 30px;
  text-align: center;
  margin: 25px;
}

.line-width-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-width-sm {
  margin: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #CCC;
  cursor: pointer;
  box-shadow: 2px 2px 4px black;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.line-width-md {
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #CCC;
  cursor: pointer;
  box-shadow: 2px 2px 4px black;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.line-width-lg {
  margin: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #CCC;
  cursor: pointer;
  box-shadow: 2px 2px 4px black;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.line-width-var {
  margin: 10px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.2s;
}

.line-width-sm:active,
.line-width-md:active,
.line-width-lg:active {
  transform: scale(0.9);
  box-shadow: 1px 1px 2px black;
  background-color: #9b9b9b;
}

.line-width-var:active {
  transform: scale(0.9);
}

@media screen and (max-width: 900px) {
  .options-panel {
    height: 400px;
    width: 200px;
  }

  .line-width-buttons {
    flex-direction: column;
  }
}

@media screen and (max-height: 500px) {
  .options-panel {
    height: 200px;
    width: 400px;
  }

  .line-width-buttons {
    flex-direction: row;
  }
}