.options-panel {
  position: absolute;
  bottom: 1vh;
  right: 1vh;
  border: 5px solid black;
  border-radius: 10px;
  width: 50vw;
  height: 50vh;
  z-index: 9999;
  box-shadow: 2px 2px 4px black;
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  justify-content: center;

  background-color: rgba(80, 11, 11, 0.5);
  /* padding: 5px; */
}


.options-panel-background,
.background-container {
  background-color: rgba(80, 11, 11, 0.5);
  padding: 10px;
  /* border: 5px solid black; */
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.line-width-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2vh;
}

.line-width-title {
  text-decoration: underline;
}

.line-width-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-width-sm {
  margin: 1vh;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #CCC;
  cursor: pointer;
  box-shadow: 2px 2px 4px black;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.line-width-md {
  margin: 1vh;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #CCC;
  cursor: pointer;
  box-shadow: 2px 2px 4px black;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.line-width-lg {
  margin: 1vh;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #CCC;
  cursor: pointer;
  box-shadow: 2px 2px 4px black;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.line-width-var {
  margin: 1vh;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.2s;
}

.line-width-sm:active,
.line-width-md:active,
.line-width-lg:active {
  transform: scale(0.9);
  box-shadow: 1px 1px 2px black;
  background-color: #9b9b9b;
}

.line-width-var:active {
  transform: scale(0.9);
}

@media screen and (max-width: 750px) {
  .line-width-buttons {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .options-panel {
    margin: 1vh;
  }
}