.options-panel {
  position: fixed;
  bottom: 1vh;
  right: 1vh;
  border: 2px solid black;
  border-radius: 10px;
  width: 400px;
  height: 300px;
  z-index: 9999;
  box-shadow: 2px 2px 4px black;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-direction: column;
}

.options-panel-tabs {
  width: 100%;
  height: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.options-panel-tab {
  height: 100%;
  /* width: 100px; */

  flex-grow: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

.options-panel-tab:hover {
  background-color: #e0e0e0;
}

.options-panel-tab:active {
  background-color: lightgreen;
}

.options-panel-tab-icon {
  height: 25px;
  width: 25px;
}

.options-panel-content {
  /* width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center; */

  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}



@media screen and (max-width: 900px) {
  .options-panel {
    height: 400px;
    width: 200px;
  }
}

@media screen and (max-height: 400px) {
  .options-panel {
    height: 200px;
    width: 400px;
  }
}