.options-panel {
  position: fixed;
  bottom: 1vh;
  right: 1vh;
  border: 2px solid black;
  border-radius: 11px 11px 10px 10px;
  width: 400px;
  height: 210px;
  z-index: 9999;
  box-shadow: 2px 2px 4px black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.options-panel-tabs {
  width: 100%;
  height: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.options-panel-tab {
  height: 100%;

  flex-grow: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

.options-panel-tab:hover {
  background-color: #e0e0e0;
}

.options-panel-tab-icon {
  height: 30px;
  width: 30px;
  color: black;
}

.line-width {
  background-color: #bca0dc;
}

.color {
  background-color: #b491c8;
}

.effects {
  background-color: #7c5295;
}

.settings {
  background-color: #663a82;
}

.options-panel-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

@media screen and (max-width: 900px) and (min-height: 500px) {
  .options-panel {
    height: 400px;
    width: 200px;
  }
}

@media screen and (max-width: 900px) and (max-height: 499px) {
  .options-panel {
    height: 210px;
    width: 340px;
  }
}
