.fullscreen-btn {
  position: fixed;
  top: 10px;
  right: 90px;
  padding: 10px;
  margin: 10px;
  /* background-color: #ccc; */
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  z-index: 9999;
  box-shadow: 2px 2px 4px black;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .options-btn:hover {
  background-color: #aaa;
} */

.fullscreen-btn:active {
  transform: scale(0.9);
  box-shadow: 1px 1px 2px black;
  background-color: #aaa;
}

/* #fullscreen {
  position: fixed;
  top: 10px;
  right: 90px;
  padding: 10px;
  margin: 10px;
  background-color: #ccc;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  z-index: 9999;
  box-shadow: 2px 2px 4px black;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* #fullscreen:hover {
  background-color: #aaa;
} */

/* #fullscreen:active {
  transform: scale(0.9);
  box-shadow: 1px 1px 2px black;
  background-color: #aaa;
} */