#fullscreen {
  /* position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px; */
  position: fixed;
  top: 1vh;
  right: 1vh;
  padding: 1vh;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  /* height: 10vh;
  width: 10vh; */
  /* height: 8vh;
  width: 8vh; */
  height: 50px;
  width: 50px;
  z-index: 9998;

  visibility: hidden;
  /* display: none; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#fullscreen:hover {
  background-color: #aaa;
}

#fullscreen:active {
  transform: scale(0.95);
}