.fullscreen-container {
  position: fixed;
  top: 5px;
  right: 80px;
  padding: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  z-index: 9999;
  box-shadow: 2px 2px 4px black;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.fullscreen {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.fullscreen-container:active {
  transform: scale(0.9);
  box-shadow: 1px 1px 2px black;
  background-color: #aaa;
}

@media screen and (max-width: 900px) {
  .fullscreen-container {
    display: none;
  }
}
