.erase-container {
  position: fixed;
  bottom: 5px;
  left: 5px;
  padding: 10px;
  background-color: salmon;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  z-index: 9999;
  box-shadow: 2px 2px 4px black;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.erase {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.erase-container:active {
  transform: scale(0.9);
  box-shadow: 1px 1px 2px black;
  background-color: #ff9999;
}
