.erase-btn {
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  background-color: salmon;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  z-index: 9999;
  box-shadow: 2px 2px 4px black;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.erase-btn:active {
  transform: scale(0.9);
  box-shadow: 1px 1px 2px black;
  background-color: #ff9999;
}