#erase {
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  background-color: salmon;
  color: white;
  font-size: 24px;
  cursor: pointer;
  text-transform: uppercase;
  bottom: 0;
  position: absolute;
  width: 80vw;
  height: 10vh;
  /* display: block; */
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  box-shadow: 2px 2px 4px black;
}

.eraseBtn {
  position: absolute;
  bottom: 1vh;
  left: 1vh;
  padding: 20px;
  background-color: salmon;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 10vh;
  width: 10vh;
  z-index: 9999;
  box-shadow: 2px 2px 4px black;
}