.settings-controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.settings-controls-title {
  text-decoration: underline;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}

.music-toggle {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 2px 2px 4px black;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
  outline: none;
}

.music-on {
  background-color: darkgreen;
}

.music-off {
  background-color: crimson;
}

.music-icon {
  font-size: 40px;
  color: white;
}

.music-toggle:active {
  transform: scale(0.9);
  box-shadow: 1px 1px 2px black;
}