.optionsBtn {
  margin: 1vh;
  position: absolute;
  top: 1vh;
  right: 1vh;
  padding: 10px;
  background-color: #6495ED;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 10vh;
  width: 10vh;
  z-index: 9999;
  box-shadow: 2px 2px 4px black;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.optionsBtn:active {
  transform: scale(0.9);
  box-shadow: 1px 1px 2px black;
  background-color: #ADD8E6;
}