.FaCamera {
  position: absolute;
  top: 1vh;
  left: 1vh;
  padding: 10px;
  background-color: #ccc;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 10vh;
  width: 10vh;
  z-index: 9999;
  box-shadow: 2px 2px 4px black;
}