.color-controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.color-controls-title {
  text-decoration: underline;
  font-size: 25px;
  text-align: center;
  /* background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}


.color-controls-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.color-display {
  width:100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;;
  transition: 0.2s ease;
  border: 1px solid black;
}

.color-display p {
  font-weight: bold;
}

.color-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.color-picker label {
  font-weight: bold;
  margin-bottom: 5px;
}

.github-picker {
  border-radius: 10px;
}

.github-picker span div {
  height: 50px !important;
}

.rainbow-color {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  background-clip: text;
  -webkit-background-clip: text; */
}

.rainbow-icon  {
  height: 50px;
  width: 50px;
  animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
  0% { color: red; }
  16.6% { color: orange; }
  33.3% { color: yellow; }
  50% { color: green; }
  66.6% { color: blue; }
  83.3% { color: purple; }
  100% { color: red; }
}

@media screen and (max-width: 800px) and (min-height: 500px) {
  .color-controls-content {
    flex-direction: column;
  }

  .color-display {
    width: 210px;
    border-radius: 0;
  }

  .github-picker {
    border-radius: 0px;
  }
}