.color-controls-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.color-controls-title {
  text-decoration: underline;
  font-size: 25px;
  text-align: center;
}

.color-controls-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.color-display {
  width:100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;;
  transition: 0.2s ease;
  border: 1px solid black;
}

.color-display p {
  font-weight: bold;
}

.color-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.color-picker label {
  font-weight: bold;
  margin-bottom: 5px;
}

.github-picker {
  border-radius: 10px;
}

@media screen and (max-width: 800px) and (min-height: 500px) {
  .color-controls-content {
    flex-direction: column;
    /* justify-content: flex-start; */
  }

  .color-display {
    width: 210px;
    border-radius: 0;
    /* margin: 10px 0; */
  }

  .github-picker {
    border-radius: 0px;;
  }
}