.options-container {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #6495ED;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  z-index: 9999;
  box-shadow: 2px 2px 4px black;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.options {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.options-container:active {
  transform: scale(0.9);
  box-shadow: 1px 1px 2px black;
  background-color: #ADD8E6;
}